* {
    font-family: fantasy;
    color: white;
    background-color: #0f0f10;
}
.title {
    text-align: center;
    width: auto;
    border-bottom: solid 1px #3a3a3d;
}
.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameboard {
    width: auto;
    margin-bottom: 30px;
    }
    
.keyboard{
    display: flex;
    flex-wrap: wrap
    
}

