* {
    font-family: fantasy;
    color: white;
    background-color: #0f0f10;
    
}
body {
    height: 100%;

}


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title {
    text-align: center;
    width: 600px;
    border-bottom: solid 2px #3a3a3d;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding: 20px 10px;
}

.tile {
    border: solid 2px grey;
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: grid;
    
}

.keyboard {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    
}

.row button {
    height: 35px;
    width: 30px;
    margin: 1px;
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: #535354;

}

/* .row-0 #enter {
    width: 60px;
}

.row-0 #backspace {
    width: 60px;
} */
.row-0 {
    margin-top: 10px;
}